.image-list {
	z-index: -1;
}

.image-title {
  text-align:center;
  color: #1076B0;
  font-weight: 700;
  margin: 30px 0 20px;
  font-size: 20px;
}

.pic-one {
	background-image: url("https://images.unsplash.com/photo-1500579886065-5a7705cbf1f7?ixlib=rb-0.3.5&s=292ce23b40ba11e06637e53e796192a4&auto=format&fit=crop&w=800&q=80");
	padding: 35%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 4% auto;
}
.col-4{
	position: relative;
}
.theme {
	position: absolute;
	top: 40%;
	margin: 0;
	width: 93.5%;
	background-size: cover;
	background-color: #1076B0;
	opacity: 0.7;
	text-align: center;
	color: white;
	padding: 2% 0;
	font-size: 20px;
}

.pic-two {
	background-image: url("https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-0.3.5&s=5a703e99fc6bb05f6dcdabf39ed55f43&auto=format&fit=crop&w=967&q=80");
	padding: 35%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 4% auto;
	
}

.pic-three {
	background-image: url("https://images.unsplash.com/photo-1480365648051-7a3c9e97d56f?ixlib=rb-0.3.5&s=141c2c0c6f789fca3f5e4cab109290bc&auto=format&fit=crop&w=1050&q=800");
	padding: 35%;
	background-size: cover;
	background-repeat: no-repeat;
		margin: 4% auto;

}

.pic-four {
	background-image: url("https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-0.3.5&s=c0996cd16eda8c6f54c398de02d03cd3&auto=format&fit=crop&w=999&q=80");
	padding: 35%;
	background-size: cover;
	background-repeat: no-repeat;
		margin: 4% auto;

}

.pic-five {
	background-image: url("https://images.unsplash.com/photo-1488868935619-4483ed595b69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b226ecc97f38907554be69dd1e077170&auto=format&fit=crop&w=500&q=60");
	padding: 35%;
	background-size: cover;
	background-repeat: no-repeat;
		margin: 4% auto;

}

.pic-six {
	background-image: url("https://images.unsplash.com/photo-1471893300835-dff67e40e355?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=69177fae15c098bffd757994a3612e38&auto=format&fit=crop&w=1050&q=80");
	padding: 35%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 4% auto;
}

@media only screen and (max-device-width: 720px) {
	.theme {
		width: 97%;
	}
}


