.signup-form {
	background-color: #CBE9F2;
	z-index: -1;
}

.title {
  text-align:center;
  color: #1076B0;
  font-weight: 700;
  margin: 50px 0 20px;
  padding-top: 3%;
}

.register-form {
	padding: 40px;
	max-width: 700px;
	margin: 0 auto;
}

.fields {
    margin: 0;
}

.register {
  font-size:22px;
  width:100%;
  border: 4px solid #1076B0;
  color:white;
  height: 60px;
  padding-left: 13px;
}

.name {
	padding-left: 4%;
}

.top-row>div{
  display: inline-block;
  width: 50%;
  margin-right: 0;
  margin-left: 0; /*to compensate for the padding on the left hand side*/
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row:last-child { 
  margin:0;
}

.terms {
	text-align: center;
}

.create-account {
	display: block;
	margin: 0 auto 130px;
	height: 40px;
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	background-color: #83D895;
	cursor: pointer;
}

@media only screen and (max-width: 345px) {
	.register {
		font-size: 15px;
	}
}

