.landing-page {
	background-color: #F2F2F2;
	z-index: -1;
}

.bucketlist-image {
    background-image: url("https://images.unsplash.com/photo-1463693396721-8ca0cfa2b3b5?ixlib=rb-0.3.5&s=54c937de2c82cae5620cc9a57c30d568&auto=format&fit=crop&w=1050&q=80");
    padding-bottom: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 75%;
}

.landing-title {
  text-align:center;
  color: white;
  font-weight: 700;
  margin: 50px 0 20px;
  padding-top: 11%;
}

.dream-title {
  margin: 0 auto;
  width: 35%;
}

.tab-group {
  list-style:none;
  text-align: center;
  height:20px;
}

.tab-group ul li {
  display: inline-block;
  margin: 1%;
}

.tab-group li a{
  text-decoration:none;
  background-color: #1076B0;
  color: white;
  font-size:18px;
  text-align:center;
  cursor:pointer;
  padding: 5px 20px;
  border-radius: 4px;
}

.tab-group li a:hover {
  background: #88b9d6;
  color:white;
  width: 3%;
  text-align: center;
}

