button.edit{
  width: 60px;
  background-color: #307c68;
  color: white;
  font-size: 20px;
}

button.share{
  background-color: #a10b0b;
  color: white;
  font-size: 20px;
}

.edit:focus{
  background-color: #155544;
}

@media only screen and (max-width: 910px) {
	button.edit, button.share {
		font-size: 18px;
	}
}

@media only screen and (max-width: 850px) {
	button.edit, button.share {
		font-size: 12px;
	}
}

@media only screen and (max-width: 730px) {
    .action-buttons {
       margin: 8px 3px;
       padding-top: 5px;
       padding-bottom: 5px;
  }
}