.navigation-bar {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 50px;
  background-color: #1076b0;
  width: 100%;
  top: 0;
  z-index: 1;
}

#app-name {
  position: absolute;
  left: 1%;
  top: -8px;
  z-index: 1;
font-family: 'Berkshire Swash', cursive;


}

#app-name a {
  color: white;
  text-decoration: none;
  top: 0;
}

.nav-bar {
  margin: 0;
  position: relative;
  top: 1px;
  clear: both;
}

.nav-bar ul li {
  display: inline-block;
  font-family: 'Marmelad', sans-serif;
}

.nav-bar ul li a {
  text-decoration: none;
  margin-right: 30px;
  color: white;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-bar a:hover {
  color: cyan;
}

.navigation-bar .current{
  color: #34f634;
  text-decoration: none;
}

.navigation-bar .menu-btn{
  display: none;
}

@media only screen and (max-width: 1050px) {
  .navigation-bar .menu-icon {
    display: block;
  }

  .navigation-bar .menu-btn{
    display: block;
  }

 
  .navigation-bar {
    z-index: 3;
    text-align: center;
    padding-left: 50%;
  }

  #app-name {
    font-size: 20px;
    top: -3px; 
  }

  .navigation-bar .nav-bar ul {
    margin: 50px 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: 250px;
    text-align: center;
  }
  
  .navigation-bar .nav-bar ul li{
    display: block;
  }

  .navigation-bar .nav-bar ul li a {
    display: block;
    padding: 10px 0;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #1076b0;
    width: 100%;

  }

  .navigation-bar .nav-bar ul li a:hover {
    background-color: #1076b0;
    color: cyan;
  }
   
   .nav-bar ul li a {
    font-size: 18px;
   }

   .nav-bar-ul li a {
    color: #1076b0;
  }

  .navigation-bar .current {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
  }

  .navigation-bar .nav-bar-ul {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
  }
   .nav-bar-ul .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 110px;
    position: relative;
    user-select: none;
    /*display: none;*/
  }

  .navigation-bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    top: 24px;
    float: right;
    right: 104px;
  }

  .navigation-bar .menu-icon .navicon:before,
  .navigation-bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .navigation-bar .menu-icon .navicon:before {
    top: 5px;
  }

  .navigation-bar .menu-icon .navicon:after {
    top: -5px;
  }

  .navigation-bar .menu-btn {
    display: none;
  }

  .navigation-bar .menu-btn:checked ~ .nav-bar .nav-bar-ul {
    max-height: 300px;
  }

  .navigation-bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .navigation-bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .navigation-bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .navigation-bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navigation-bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}