.login-form {
	padding: 30px;
	max-width: 700px;
	margin: 0 auto;
}

.login-button {
  display: block;
  margin: 25px auto 305px;
  height: 40px;
  padding-left: 4%;
  padding-right: 4%;
  color: white;
  background-color: #83D895;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}


