button{
    color: white;
    font-size: 20px;
    display: inline-block;
}
button.edit{
  width: 60px;
  background-color: #307c68;
}

button.share{
  background-color: #1076B0;
  display: inline-block;
}

button.share a{
  text-decoration: none;
}

button.delete{
  background-color: #a10b0b;
}

.edit:focus{
  background-color: #155544;
}

@media only screen and (max-width: 910px) {
	button.edit, button.share {
		font-size: 18px;
	}
}

@media only screen and (max-width: 850px) {
	button.edit, button.share {
		font-size: 12px;
	}
}

@media only screen and (max-width: 730px) {
    .action-buttons {
       margin: 8px 3px;
       padding-top: 5px;
       padding-bottom: 5px;
  }
}