button{
    color: white;
    font-size: 20px;
    display: inline-block;
}
button.edit{
  width: 60px;
  background-color: #307c68;
}

button.delete{
  background-color: #a10b0b;
}

.edit:focus{
  background-color: #155544;
}


@media only screen and (max-width: 1600px) {
  .action-buttons {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1400px) {
  .action-buttons {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1350px) {

.action-buttons {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1300px) {
  .action-buttons {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media only screen and (max-width: 1150px) {
  button.edit {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  button.delete{
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}	

@media only screen and (max-width: 1120px) {
	button.edit{
		font-size: 12px;
	}
}

@media only screen and (max-width: 1000px) {
  button.edit{
    font-size: 12px;
  }
}

@media only screen and (max-width: 930px) {
  .action-buttons {
    font-size: 10px; 
  }
  
  button.edit {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  button.edit{
    width: 10%;
  }
}

@media only screen and (max-width: 850px) {
  button.edit{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 730px) {
  .action-buttons {
       margin: 8px 3px;
       padding-top: 5px;
       padding-bottom: 5px;
       font-size: 15px;
  }

  button.edit {
    width: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .delete{
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media only screen and (max-width: 600px) {
  button.edit {
    width: 12%;
  }
}

