.lists {
	color: #1076B0;
}

.header th {
	font-size: 25px;
	border-spacing: 10px;
	padding: 15px;
}

.title {
	font-size: 25px;
}

.heading {
	font-size: 25px;
	padding: 0.5%;
}

td {
	padding: 25px;
}

.checkbox {
	font-size: 30px;
}

@media only screen and (max-width: 910px) {
	.header th {
		font-size: 20px;
	}
}